* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    gap: 16px;
    padding: 20px 50px;
}
.container-question {
    padding: 30px; /* Tambahkan padding untuk memberikan jarak di sekitar konten */
    border: 1px solid #a08a8a; /* Tambahkan garis tepi untuk membedakan konten */
    border-radius: 10px; /* Tambahkan sudut bulat untuk estetika */

    width: 75%;
    background: aliceblue;
}
.button-group {
    display: flex;
    justify-content: space-between;
    margin: 15px 50px;
}

.container-number {
    width: 280px; /* Perhatikan tidak ada spasi antara nilai dan satuan (px) */
    background-color: aliceblue;
}

.list-nosoal {
    padding: 30px;
    border-top: 1px solid black;
    display: grid;
    gap: 10px;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 40px);
}

.nomer {
    width: 100%;
    height: 40px; /* Menambahkan tinggi untuk item-grid */
    background-color: rgb(78, 83, 83);
    display: flex;
    justify-content: center;
    align-items: center;
}
.nomer-hijau {
    background-color: #4caf50;
}
.nomer-merah {
    background-color: #da190b;
}
.btn-no-group {
    display: flex;
    justify-content: center; /* Membuat tombol berada di tengah secara horizontal */
}

.btn-prev-nomor,
.btn-next-nomor {
    margin: 10px; /* Menambahkan jarak antara tombol */
}

.btn-prev-nomor a,
.btn-next-nomor a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Warna latar belakang */
    color: white; /* Warna teks */
    text-decoration: none;
    border-radius: 5px; /* Agar tombol memiliki sudut yang lebih lembut */
}

/* Efek hover saat kursor diarahkan ke tombol */
.btn-prev-nomor a:hover,
.btn-next-nomor a:hover {
    background-color: #0056b3; /* Warna latar belakang saat hover */
}
.color-description {
    color: black;
}

.tittle-ujian {
    text-align: center;
    font-size: 26px;
}

.question {
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}

input[type="radio"] {
    margin-right: 5px;
}

label {
    font-size: 20px;
}

.btn-no-group {
    display: flex;
    gap: 20px;
}
.btn-sebelum {
    background-color: #4caf50; /* Hijau */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-sebelum:hover {
    background-color: #45a049; /* Hijau yang lebih gelap */
}

.btn-ragu {
    background-color: #f44336; /* Merah */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-ragu:hover {
    background-color: #da190b; /* Merah yang lebih gelap */
}

.btn-setelah {
    background-color: #008cba; /* Biru */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-setelah:hover {
    background-color: #005f6b; /* Biru yang lebih gelap */
}
